body {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 450px;
    padding-right: 450px;
    
    
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}

.logo {
    color: #f9faf8;
    font-size: 24px;

}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    
}

li {
    list-style: none;
    
    
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 26px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0;
}

.forest {
    width: 480px;
    height: auto;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
    
    
}

.hero {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.sign-up {
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 25px;
    cursor: pointer;

}

.contents {
    background-color: white;
    padding-top: 50px;
}

.contents-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 25px;
}

.info-pic {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    
}

.info-text {
    color: #1f2937;
    font-size: 18px;
    padding-top: 15px;
    text-align: center;
    
   
}

.img-container {
    display: flex;
    justify-content: center;
    
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
    gap: 20px;

}
.pic-container {
    display: flex;
    flex-direction: column; 
    
}

.quote {
    background-color: #e5e7eb;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;

}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    
}

.quote-owner {
    color: #1f2937;
    font-size: 26px;
    text-align: right;
    padding-right: 100px;
}

.call-to-action {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.call-to-action-content {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}


.call-to-action-button {
    background-color: #3882f6;
    border: 2px solid white;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;


}

.call-to-action-title {
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #f9faf8;
}

